<h1>All Articles</h1>

<% if @articles.length > 0 %> 
<ul>
<% @articles.each do |article|%>
<li>
<p>This article is by <%= article.user.username%></p>
<p>The title of this article is <%= article.title %>. Here is the description <%= article.description %></p>
<%= link_to "Show", article_path(article)%>
<%= render "article_options", obj: article%>
</li>

</ul>
<%end%>

<% else %>
<p>Sorry, we have no articles to show you toda</p>

<% end %>
<%= link_to "Create new article", new_article_path%>