<h1>Login</h1>




<%= form_with(scope: :session, url: login_path) do |f|%>

<div>
<%= f.label :email%>
<%= f.text_area :email%>
</div>

<div>
<%= f.label :password%>
<%= f.text_area :password%>
</div>
<%= f.submit "Login" %>
<%end%>