 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <%= link_to "Stock Tracker", root_path, class: "navbar-brand"%>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

  

      <%if current_user%>
      <li class="nav-item">
      <%= link_to("View Portfolio", my_portfolio_path, class: "navbar-brand")%>
      <%= link_to current_user.full_name, edit_user_registration_path, class:"navbar-brand"  %>
      <%= link_to("Logout", destroy_user_session_path, class: "navbar-brand", method: :delete)%>
      </li>

      <%else%>

    <li class="nav-item">
    <%= link_to("Sign Up", new_user_registration_path, class: "nav-link")%>
      </li>
      <li class="nav-item">
    <%= link_to("Login", new_user_session_path, class: "nav-link")%>
      </li>
      <%end%>
    
    </ul>
  </div>
</nav>